<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cp.shanghai.dao.UserDao">


    <resultMap id="resUserInfo" type="com.cp.shanghai.model.UserModel">
        <result column="account" property="account"/>
        <result column="user_name" property="username"/>
        <result column="password" property="password"/>
        <result column="token" property="token"/>
        <result column="header_url" property="headerUrl"/>
        <result column="device_type" property="deviceType"/>
        <result column="device_id" property="deviceId"/>
    </resultMap>

    <!--登录信息-->
    <select id="queryUserInfo" resultMap="resUserInfo">
        select u.account,u.user_name,u.token,u.header_url from tb_user u where u.token=#{token}
    </select>
    <!--更新token-->
    <update id="updateToken">
        update tb_user set token=#{token},update_date=sysdate() where account=#{account} and password=#{password}
    </update>
</mapper>